<div class="w3-container w3-center w3-padding-64 w3-light-grey">
  <p class="w3-xlarge w3-margin-bottom">
    Sie möchten sehen, wie wir arbeiten, unser Team kennenlernen oder direkt Kontakt aufnehmen?
  </p>
  <div class="w3-bar w3-center">
    <a href="pages/about.html"  class="w3-button w3-black w3-margin w3-round-large fancy-hover" style="width:200px;font-size:1.3rem;">Vorgehen</a>
    <a href="pages/team.html"   class="w3-button w3-black w3-margin w3-round-large fancy-hover" style="width:200px;font-size:1.3rem;">Team</a>
    <a href="pages/work.html"   class="w3-button w3-black w3-margin w3-round-large fancy-hover" style="width:200px;font-size:1.3rem;">Projekte</a>
    <a href="pages/contact.html" class="w3-button w3-black w3-margin w3-round-large fancy-hover" style="width:200px;font-size:1.3rem;">Anfrage</a>
  </div>
</div>
