<footer class="w3-black w3-padding-64">
  <div class="w3-content" style="max-width:1200px; display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap;">

    <!-- Company info -->
    <div style="text-align:left;">
      <h4 style="margin-bottom:4px;">Baumann Secure Tech</h4>
      <p style="margin:0;">Musterstrasse 12, 8500 Frauenfeld</p>
      <p style="margin:0;">kontakt@bst.ch | +41 79 123 45 67</p>
    </div>

    <!-- Logo -->
    <div style="margin-top:16px;">
      <img src="Bilder/BST_Logo_white2.png" alt="BST Logo" style="height:130px;">
    </div>

    <!-- Social -->
    <div class="social-icons">
      <i class="fa fa-instagram"></i>
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>
</footer>


