<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-large" style="display:none" id="sidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Schliessen ×</a>
  <a href="pages/about.html" class="w3-bar-item w3-button">Vorgehen</a>
  <a href="pages/team.html" class="w3-bar-item w3-button">Team</a>
  <a href="pages/work.html" class="w3-bar-item w3-button">Projekte</a>
  <a href="pages/contact.html" class="w3-bar-item w3-button">Anfrage</a>
</nav>
